@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}
#search {
  position: relative;
  top: 15px;
  padding-left: 3rem;
  height: 2.1rem;
}
.search-container .close {
  right: 2rem !important;
  font-size: 1.2rem !important;
}
#mobile-demo li {
  position: relative;
  display: flex;
  justify-content: center;
}
#mobile-demo li .search-mob {
  width: 90%;
  padding: 5px;
  border: 1px solid teal;
  border-radius: 6px;
  font-size: 13px;
}
#mobile-demo li i {
  position: absolute;
  right: 20px;
  top: 50%;
  font-size: 15px;
}
form h5 {
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 15px;
}
table tr {
  text-transform: capitalize;
}
.delete {
  cursor: pointer;
}
