@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}


.search-container .close {
  right: 2rem !important;
  font-size: 1.2rem !important;
}
#mobile-demo li {
  position: relative;
  display: flex;
  justify-content: center;
}
#search{
  border: 1px solid white !important;

}
.search-mob {
  width: 90%;
  border: 1px solid teal !important;
}
#mobile-demo li i {
  position: absolute;
  right: 20px;
  top: 30%;
  font-size: 20px;
}
form h5 {
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 15px;
}
table tr {
  text-transform: capitalize;
}
.delete {
  cursor: pointer;
}
.search-box {
  width: 90% !important;
  border-radius: 20px !important;
  padding: 0px 10px !important;
  margin: 10px !important;
  height: 40px !important;
}